In [1]:
import pandas as pd 
data = pd.read_csv('Superstore Sales Dataset.csv' , encoding='utf-8')        # uplpoud the data and get information about each column
data.info()

<ipython-input-1-eede12b2cb3c>:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 804.0+ KB

In [2]:
# order date and ship date are in wrong formate
# postal code has some null value

In [3]:
data['Order Date'] = pd.to_datetime(data['Order Date'], format='%d/%m/%Y', errors='coerce')   # change data type of the dates column
data['Ship Date'] = pd.to_datetime(data['Ship Date'], format='%d/%m/%Y', errors='coerce')

In [4]:
missing_postal_code_rows = data[data['Postal Code'].isnull()]                                # handling missing value

In [5]:
print(missing_postal_code_rows)                                                             # vermont sate has the null

      Row ID        Order ID Order Date  Ship Date       Ship Mode  \
2234    2235  CA-2018-104066 2018-12-05 2018-12-10  Standard Class
5274    5275  CA-2016-162887 2016-11-07 2016-11-09    Second Class
8798    8799  US-2017-150140 2017-04-06 2017-04-10  Standard Class
9146    9147  US-2017-165505 2017-01-23 2017-01-27  Standard Class
9147    9148  US-2017-165505 2017-01-23 2017-01-27  Standard Class
9148    9149  US-2017-165505 2017-01-23 2017-01-27  Standard Class
9386    9387  US-2018-127292 2018-01-19 2018-01-23  Standard Class
9387    9388  US-2018-127292 2018-01-19 2018-01-23  Standard Class
9388    9389  US-2018-127292 2018-01-19 2018-01-23  Standard Class
9389    9390  US-2018-127292 2018-01-19 2018-01-23  Standard Class
9741    9742  CA-2016-117086 2016-11-08 2016-11-12  Standard Class

     Customer ID     Customer Name      Segment        Country        City  \
2234    QJ-19255      Quincy Jones    Corporate  United States  Burlington
5274    SV-20785  Stewart Visinsky     Consumer  United States  Burlington
8798    VM-21685   Valerie Mitchum  Home Office  United States  Burlington
9146    CB-12535  Claudia Bergmann    Corporate  United States  Burlington
9147    CB-12535  Claudia Bergmann    Corporate  United States  Burlington
9148    CB-12535  Claudia Bergmann    Corporate  United States  Burlington
9386    RM-19375     Raymond Messe     Consumer  United States  Burlington
9387    RM-19375     Raymond Messe     Consumer  United States  Burlington
9388    RM-19375     Raymond Messe     Consumer  United States  Burlington
9389    RM-19375     Raymond Messe     Consumer  United States  Burlington
9741    QJ-19255      Quincy Jones    Corporate  United States  Burlington

        State  Postal Code Region       Product ID         Category  \
2234  Vermont          NaN   East  TEC-AC-10001013       Technology
5274  Vermont          NaN   East  FUR-CH-10000595        Furniture
8798  Vermont          NaN   East  TEC-PH-10002555       Technology
9146  Vermont          NaN   East  TEC-AC-10002926       Technology
9147  Vermont          NaN   East  OFF-AR-10003477  Office Supplies
9148  Vermont          NaN   East  OFF-ST-10001526  Office Supplies
9386  Vermont          NaN   East  OFF-PA-10000157  Office Supplies
9387  Vermont          NaN   East  OFF-PA-10001970  Office Supplies
9388  Vermont          NaN   East  OFF-AP-10000828  Office Supplies
9389  Vermont          NaN   East  OFF-EN-10001509  Office Supplies
9741  Vermont          NaN   East  FUR-BO-10004834        Furniture

     Sub-Category                                       Product Name    Sales
2234  Accessories        Logitech ClearChat Comfort/USB Headset H390   205.03
5274       Chairs                    Safco Contoured Stacking Chairs   715.20
8798       Phones                Nortel Meridian M5316 Digital phone  1294.75
9146  Accessories              Logitech Wireless Marathon Mouse M705    99.98
9147          Art                                  4009 Highlighters     8.04
9148      Storage              Iceberg Mobile Mega Data/Printer Cart  1564.29
9386        Paper                                          Xerox 191    79.92
9387        Paper                                         Xerox 1881    12.28
9388   Appliances                    Avanti 4.4 Cu. Ft. Refrigerator   542.94
9389    Envelopes                          Poly String Tie Envelopes     2.04
9741    Bookcases  Riverside Palais Royal Lawyers Bookcase, Royal...  4404.90

In [6]:
#Fill missing postal codes based on the city name(Burlington)                                # searching for the postal code on goegle anf fill it 
data['Postal Code'] = data['Postal Code'].fillna('05401')

In [7]:
data.info()                                                                                 # makeing sure that the date in a correct form

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   datetime64[ns]
 3   Ship Date      9800 non-null   datetime64[ns]
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9800 non-null   object
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(14)
memory usage: 842.3+ KB

In [8]:
data['Postal Code'] = data['Postal Code'].astype(int)                                    # postal code is object so ew changed it to int

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   datetime64[ns]
 3   Ship Date      9800 non-null   datetime64[ns]
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9800 non-null   int32
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: datetime64[ns](2), float64(1), int32(1), int64(1), object(13)
memory usage: 842.3+ KB

In [10]:
data = data.drop_duplicates()                                                     # checking if there is any duplicates

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   datetime64[ns]
 3   Ship Date      9800 non-null   datetime64[ns]
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9800 non-null   int32
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: datetime64[ns](2), float64(1), int32(1), int64(1), object(13)
memory usage: 842.3+ KB

In [12]:
data.to_csv('new_superstore_data.csv', index=False)                              # save the new cleaned data as csv file

In [13]:
sales_statistics = data['Sales'].describe()                                      # to get some additional statistic information

In [14]:
print(sales_statistics)

count     9800.000000
mean       230.769059
std        626.651875
min          0.444000
25%         17.248000
50%         54.490000
75%        210.605000
max      22638.480000
Name: Sales, dtype: float64